<section>
  <p *ngIf="error !== ''">{{ error }}</p>
  <app-addtask></app-addtask>
  <div class="container">
    <div *ngIf="items.length !== 0" >
      <div class="item"
        *ngFor="
          let item of items.slice(
            pageSize * pageIndex,
            pageSize * (pageIndex + 1)
          )
        "
      >
        <mat-checkbox (change)="changeFunc(item.id, item.checked)" [checked]="item.checked" ></mat-checkbox>
        <p class="itemField" >{{ item.text }}</p>
        <div class="btns">
          <button mat-raised-button color="warn" (click)="editFunc()">
            Редагувати
          </button>
          <button mat-raised-button color="accent" (click)="saveFunc()">
            Зберегти
          </button>
          <button mat-raised-button color="primary" (click)="deleteFunc(item.id)">
            Видалити
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator
    *ngIf="items.length > 5"
    (page)="handlePageEvent($event)"
    [length]="items.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10]"
    aria-label="Оберіть сторінку"
  >
  </mat-paginator>
</section>
