<section>
  <p *ngIf="error !== ''">{{ error }}</p>
  <app-addtask [(addItem)]="isAddItem"></app-addtask>
  <div class="container">
    <div *ngIf="items.length !== 0">
      <div class="item"
        *ngFor="
          let item of items.slice(
            pageSize * pageIndex,
            pageSize * (pageIndex + 1)
          )
        "
        cdkDrag>
        <mat-checkbox (change)="changeFunc(item.id, item.checked)" [checked]="item.checked" ></mat-checkbox>
        <div class="itemField"  *ngIf="editID!==item.id" [class.checked]="item.checked" >{{ item.text }}</div>
        <mat-form-field class="example-full-width" *ngIf="editID===item.id">
          <input matInput type="text" (editTask)="(editTask)" value="{{item.text}}" (change)="changeHandler($event)"
            (keyup)="keyHandler($event, item.checked)" />
        </mat-form-field>
        <div class="btns">
          <button mat-raised-button color="warn" (click)="editFunc(item.id)">
            Редагувати
          </button>
          <button mat-raised-button color="accent" (click)="saveFunc(item.checked)">
            Зберегти
          </button>
          <button mat-raised-button color="primary" (click)="deleteFunc(item.id)">
            Видалити
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator
    *ngIf="items.length > 5"
    (page)="handlePageEvent($event)"
    [length]="items.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10]"
    aria-label="Оберіть сторінку"
  >
  </mat-paginator>
</section>
